//Fontfamily
$font-stack: Helvetica, sans-serif;

//Färgschema
$primary-bg: #FFE5D8;
$purple: #9F8189;
$purple-complement: complement(#FFE5D8);
$black: #000000;
$white: #ffffff;
$primary-shadow: 0px 0px 5px black;

//Färgschema för darkmode