@use "base";

//Knappar
.button {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: base.$font-stack;
    cursor: pointer;
}

@mixin button-styling ($padding, $border-style) {
    padding: $padding;
    border-style: $border-style;
}

//Bilder
@mixin img-styling ($circle) {
    @if $circle {
        border-radius: 50%;
    }
}