@use "base";

//Rubriker
.h {
    text-align: center;
    margin-bottom: 0.5rem;
}

@mixin heading-size ($size) {
    @if $size ==1 {
        /*Textstorlek 32px som standard*/
        font-size: 3.2rem;
    }

    @else if $size ==2 {
        /*Textstorlek 24 som standard*/
        font-size: 2.4rem;
    }

    @else {
        /*Textstorlek 20px som standard*/
        font-size: 2rem;
    }
}

//Knappar
.button {
    font-size: base.$main-fontsize;
    line-height: 2.5rem;
    font-family: base.$font-stack;
    cursor: pointer;
}

@mixin button-styling ($padding, $border-style) {
    padding: $padding;
    border-style: $border-style;
}

//Bilder
@mixin picture-styling ($radius, $border-style) {
    border-radius: $radius;
    border-style: $border-style;

}