@use "base";
@use "component";

/*Regler för hela webbplatsen*/
html {
    /*62,5% av 16px ger 10px*/
    font-size: 62.5%;
}

body {
    /*Textstorlek 16px som standard*/
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: base.$font-stack;
    margin: 0;
    background-color: base.$primary-bg;
}

main {
    padding-top: 100px;
}

h1 {
    /*Textstorlek 32px som standard*/
    font-size: 3.2rem;
    @extend .h;

}

h2 {
    /*Textstorlek 24 som standard*/
    font-size: 2.4rem;
    @extend .h;
}

header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10% 90%;
    background-color: base.$purple;
    box-shadow: base.$primary-shadow;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}


/*Regler för huvudmeny*/
#huvudmeny {
    grid-area: 1/1/2/4;
    text-align: right;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;

    ul {
        list-style: none;
        margin: 0;
    }

    li {
        display: inline;
    }

    a {
        display: inline-block;
        background-color: base.$primary-bg;
        color: base.$black;
        text-decoration: none;
        padding: 30px;
        margin-right: 5px;
    }

    a:hover {
        background-color: base.$purple-complement;
    }

    #closemenu {
        /*Knappen visas inte i ursprungsläget*/
        display: none;
        width: 100%;
        text-align: left;
        background-color: base.$primary-bg;
        @extend .button;
        @include component.button-styling(30px, none)
    }
}

#openmenu {
    /*Knappen visas inte i ursprungsläget*/
    display: none;
    width: 100%;
    height: 100px;
    background-color: base.$primary-bg;
    border-color: base.$purple;
    border-width: 5px;
    @extend .button;
    @include component.button-styling(0, solid)
}

/*Skärmstorlekar med en maxbredd på 800px få en annorlunda meny. En meny som ligger till höger på sidan och som täcker hela förnstrets view height. 
Länkarna ligger i en lista istället för på rad.*/
@media screen and (max-width: 800px) {
    header {
        grid-template-columns: 20% 60% 20%;
    }

    #huvudmeny {
        /*Menyn visas inte i startläget. För att menyn ska visas måste man klicka på "Meny"-knappen. Denna funktion skapas med hjälp av 
        JavaScript.*/
        display: none;
        background-color: base.$primary-bg;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        text-align: left;

        ul {
            padding: 0;
        }

        li {
            display: block;
        }

        a {
            display: block;
            width: 100%;
            padding: 30px;
        }

        #closemenu {
            /*Knappen visas*/
            display: block;
        }

        #closemenu:hover {
            background-color: base.$purple-complement;
        }
    }

    #openmenu {
        /*Knappen visas*/
        display: block;
        grid-area: 1/3/2/4;
    }

    #openmenu:hover {
        background-color: base.$purple-complement;
    }
}

/*Slut på regler för huvudmeny*/

footer {
    background-color: base.$purple;
    box-shadow: base.$primary-shadow;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$primary-bg-darkmode;
        color: base.$white;
    }

    #huvudmeny {
        a {
            background-color: base.$primary-bg-darkmode;
            color: base.$white;
        }

        a:hover {
            background-color: base.$purple-complement-darkmode;
        }

        #closemenu {
            background-color: base.$primary-bg-darkmode;
            color: base.$white;
        }

        #closemenu:hover {
            background-color: base.$purple-complement-darkmode;
        }
    }

    #openmenu {
        background-color: base.$primary-bg-darkmode;
        color: base.$white;
    }

    #openmenu:hover {
        background-color: base.$purple-complement-darkmode;
    }

    @media screen and (max-width: 800px) {
        #huvudmeny {
            background-color: base.$primary-bg-darkmode;
        }
    }
}

/*Slut på regler för hela webbplatsen*/

/*Regler för startsidan*/
#container1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;

    #heading1 {
        grid-area: 1/1/2/2;
    }

    #text1 {
        grid-area: 2/1/3/2;
        margin-left: 25%;
        margin-right: 25%;
    }
}

#picturegrid {
    grid-area: 3/1/4/2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33% 33% 33%;
    margin-left: 10%;
    margin-right: 10%;



    #picture1 {
        grid-area: 1/1/2/2;

        img {
            width: 100%;
            @include component.picture-styling(50% 0 0 50%, solid none solid solid)
        }
    }

    #picture2 {
        grid-area: 1/2/2/3;

        img {
            width: 100%;
            @include component.picture-styling(0, solid none solid none)
        }
    }

    #picture3 {
        grid-area: 1/3/2/4;

        img {
            width: 100%;
            @include component.picture-styling(0 50% 50% 0, solid solid solid none)
        }
    }
}

/*Skärmstorlekar med en maxbredd på 800px.*/
@media screen and (max-width: 800px) {
    #container1 {
        #text1 {
            margin-left: 10%;
            margin-right: 10%;
        }
    }

    #picturegrid {
        grid-template-columns: 100%;


        #picture1 {
            grid-area: 1/1/2/2;

            img {
                @include component.picture-styling(50% 50% 0 0, solid solid none solid)
            }
        }

        #picture2 {
            grid-area: 2/1/3/3;

            img {
                @include component.picture-styling(0, none solid none solid)
            }
        }

        #picture3 {
            grid-area: 3/1/4/2;

            img {
                @include component.picture-styling(0 0 50% 50%, none solid solid solid)
            }
        }
    }

}

/*Slut på regler för startsidan*/

/*Regler för sidan "SASS"*/
#container2 {
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (max-width: 800px) {
    #container2 {
        margin-left: 10%;
        margin-right: 10%;
    }
}

/*Slut på regler för sidan "SASS"*/